@charset "UTF-8";
/* estilos para tela */

*{
    margin: 0px;
    padding: 0px;
}

html{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 1em;
    }

 header{
        background-color: aquamarine;
    }

    header h1{
        text-align: center;
       
    }
    h1,h2{
       padding:  30px;
    }

    menu ul{
        background-color: #707070;
        list-style-type: none;
    }
    a{
        text-decoration: none;
        color: white;
    }
    a:hover{
        background-image: linear-gradient(90deg, aqua , blue);
        padding: 5px;
        transition: 0.5s;
    }

 menu li{
   
    color: white;
display: inline-block;
margin:  10px;
padding: 10px;
    }

    article{
        display: block;
        margin: auto;
    max-width: 600px;

    }



    