@charset "UTF-8";

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    padding: 0px;
}
html,body{
    background-color: white;
}
header{
    background-color: darkgreen;
}
header > h1{
    text-align: center;
    padding: 10px;
}
menu{
    display: none;
}

span#menu{
    display: block;
    background-color: rgb(1, 78, 1);
    text-align: center;
    padding: 10px;
}
#menu:hover{
    background-color: white;
    cursor: pointer;

}

menu > ul{
    list-style-type: none;
}
menu > ul > li > a{
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: rgb(1, 78, 1);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.589);

}
menu > ul > li > a:hover{
    background-color: #038503c7;
    
}

main{
    width: 90vw;
    margin: auto;
    padding: 10px;
    margin-top: 10px;

}
article > h2{
    padding-bottom: 20px;

}
article > p{
    text-indent: 20px;
    text-align: justify;
    margin-bottom: 10px;
}